.movies-detail-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.movies-detail-image img {
    filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
    border-radius: 20px;
    width: 230px;
    height: 340px;
}

.movies-detail-info-header {
    display: flex;
    justify-content: space-between;
}

.movies-detail-info-title {
    font-weight: 700;
    font-size: 28px;
    color: #E59C9C;
}

.movies-detail-info-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movies-detail-info-rating img {
    width: 43px;
    height: 43px;
}

.movies-detail-info-rating p {
    font-weight: 800;
    font-size: 27px;
}

.movies-detail-info-body {
    margin-top: 64px;
}

.movies-detail-info-text {
    display: flex;
}

.movies-detail-info-text:not(:last-child) {
    margin-bottom: 22px;
}

.movies-detail-info-text p{
    font-weight: 700;
    font-size: 16px;
    width: 115px;
}

.movies-detail-info-text span {
    font-weight: 600;
    font-size: 14px;
    margin-left: 50px;
    max-width: 632px;
}

.movies-detail-info-text:last-child span {
    font-weight: 400;
    font-size: 16px;
}