.movies-detail-page {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.movies-detail-container {
    max-width: 1230px;
    padding: 40px 90px 180px 90px;
    background: #fff;
    color: #333333;
    border-radius: 20px;
}