/* ======== out styles ======== */
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,header,aside {display: block;}
html,body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
/* ======== body ======== */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #B0F9FE;
    background: #1b1b1b;
}
a {
    color: inherit;
}
/* ======== layout ======== */
.layout {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ======== main ======== */
.main {
    flex: 1 1 auto;
}
/* ======== container ======== */
.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}
/* ======== stop scrolling ======== */
.stop-scrolling {
    overflow-y: hidden;
}
.title {
    font-size: 5rem;
    line-height: 110%;
    font-weight: 700;
}
.btn {
    padding: 1rem;
    color: inherit;
    background: transparent;
    border: 1px solid #2dc42d;
    border-radius: 2rem;
    box-shadow: 3px 3px 0px #2dc42d;
    font-size: 1.6rem;
    font-weight: 600;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}
.btn:hover {
    background: #349934;
    border: 1px solid #349934;
    /* border: 1px solid transparent; */
    /* background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 128, 0, 0.5)); */
    border-radius: 2rem;
    box-shadow: 1px 1px 0px #349934;
    font-size: 1.6rem;
    transition: background 0.5s ease, box-shadow 0.5s ease;
}
.copy {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    padding: 1rem 0;
}
.copy img {
    width: 5rem;
    height: 2rem;
}
/* ======== header ======== */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background: #1b1b1b;
    box-shadow: 1px 1px 5px #2dc42d;
    z-index: 500;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo img {
    max-width: 5rem;
    max-height: 3rem;
}
/* .header__text {
    font-size: 1.2rem;
    margin-left: 1rem;
    line-height: 140%;
} */
/* ======== navigation ======= */
.nav__list {
    display: flex;
}
.nav__link a {
    display: block;
    padding: 0.8rem;
    font-size: 1.3rem;
    text-align: center;
    color: #B0F9FE;
    border-right: 1px solid #B0F9FE;
    transition: color 0.5s ease, border-right 0.5s ease;
}
.nav__link a:hover,
.nav__link a.active {
    color: #2dc42d;
    border-right: 1px solid #2dc42d;
    transition: color 0.5s ease, border-right 0.5s ease;
}
/* ======== mobile menu ======== */
.mobile {
    display: none;
}
.mobile-icon {
    height: 100%;
    width: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.mobile-bar {
    width: 2.8rem;
    height: 8px;
    background-color: #2dc42d;
    border-radius: 4px;
    z-index: 2;
}
.mobile-menu {
    width: 50%;
    height: 100vh;
    background: #1b1b1b;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s ease;
}
.mobile-nav {
    padding: 1rem 0;
}
.mobile-nav__list {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.mobile-nav__link {
    width: 100%;
    color: #B0F9FE;
}
.mobile-nav__link a {
    padding: 1.3rem 0;
    text-align: center;
    display: block;
    font-size: 1.3rem;
}
/* ======== sliding mobile menu ======== */
.hidden {
    right: -120%;
}
.visible {
    right: 0;
}

/* ======== animations mobile icon ======== */
/* ==== clicked ==== */
.mobile-bar.clicked:nth-child(1){
    transform: rotate(45deg) translate(-0.2em, 1em);
    transition: ease-out 0.5s;
}
.mobile-bar.clicked:nth-child(2){
    transform: scale(0);
    transition: ease-out 0.5s;
}
.mobile-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate(0.2em, 1em);
    transition: ease-out 0.5s;
}
/* ==== unclicked ==== */
.mobile-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.mobile-bar.unclicked:nth-child(2) {
    margin: 4px 0;
}
/* ======== offer ======== */
.main__offer {
    padding: 8rem 0 2rem 0;
}
.offer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.offer__title {
    margin-top: 2rem;
}
.offer__title span {
    display: block;
    color: #2dc42d;
    text-shadow: 10px 10px 40px #2dc42d;
}
/* .offer__skills {
    font-size: 2.5rem;
    line-height: 140%;
    font-weight: 600;
    color: #2dc42d;
}
.offer__skills span {
    display: block;
} */
.offer__subtitle {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 110%;
    font-weight: 600;
    text-align: center;
}
.offer__subtitle span {
    color: #2dc42d;
    font-size: 3.4rem;
    text-shadow: 5px 5px 20px #2dc42d;
}
.offer__btn {
    margin-top: 2rem;
}
/* ======== footer ======== */
.footer {
    padding: 1rem 0;
    z-index: 20;
    /* box-shadow: 4px 4px 0px #0AD30A; */
    background: #1b1b1b;
}
/* ======== responsive ======== */
@media (max-width: 991.98px) {
    .nav {
        display: none;
    }
    .mobile {
        display: block;
    }
}
@media (max-width: 767.98px) {
    .mobile-menu {
        width: 100%;
    }
    .main__offer {
        padding: 10rem 0 2rem 0;
    }
}
@media (max-width: 575.98px) {
}
/* ======== responsive settings ======== */
/* ======== mobile first ======== */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
/* ======== desktop ======== */
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}
/* ======== mobile mix ======== */
@media (min-width: 768px) and (max-width: 991.98px) {}
@media (min-width: 768px) and (max-width: 1199.98px) {}
/* ======== ibg img ======== */
/* .ibg {
    position: relative;
}
.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
} */
/* ======== menu animations ======== */
/* .menu {
    position: absolute;
    top: calc(100% + 5px);
    right: 10px;
    width: 220px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 0.3s;
}
.menu.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
} */




.router {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.router__form {
    margin-top: 2rem;
}
.router__btn {
    margin-top: 2rem;
    padding: 0.7rem;
    width: 100%;
    background: #349934;
    font-size: 1.3rem;
    color: #B0F9FE;
}
.router__list {
    margin-top: 2rem;
}
.router__item {
    padding: 0.7rem 0;
    font-size: 1.5rem;
    border-bottom: 2px solid green;
}
.router-wrapper__info:not(:last-child) {
    margin-bottom: 1rem;
}
.router__info {
    margin-top: 1rem;
    font-size: 1.5rem;
}
.router__info span {
    font-weight: 600;
    color: #2dc42d;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__label {
    font-size: 1.3rem;
}
.form__btn {
    margin-top: 1.5rem;
    padding: 1rem;
    width: 80%;
    background: #2dc42d;
    color: #B0F9FE;
    font-size: 1.1rem;
}
.label {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.label__messege {
    margin-top: 1rem;
    font-size: 1.3rem;
}
.label__messege span {
    font-size: 1.5rem;
    color: #2dc42d;
}
.label__input {
    margin-top: 1.7rem;
    padding: 0.7rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.marquee-container {
    display: flex;
    align-items: center;
    background: transparent;
}
.marquee {
    font-size: 2rem;
    line-height: 140%;
    font-family: sans-serif;
    padding: 1rem;
    color: #2dc42d;
    white-space: nowrap;
    animation: marquee 10s infinite linear;
}
@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}
