.movies-search-page {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-search-page-container {
    max-width: 1230px;
    padding: 40px 90px;
    background: #fff;
    color: #333333;
    border-radius: 20px;
}

.movies-search-page-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.movies-genre-search-wrapper {
    position: relative;
    margin: 30px 0;
}

.movies-search-page-subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
}

.movies-search-page-subtitle span {
    color: #E59C9C;
}

.movies-search-page-text {
    text-align: center;
}

.movies-search-page-text span {
    display: block;
}