.movies-item {
    display: flex;
    flex-direction: column;
    max-width: 180px;
}

.movies-item img {
    filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
    border-radius: 20px;
}

.movies-title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
}

.movies-genre {
    margin-top: 25px;
    font-size: 15px;
}

.movies-country {
    margin-top: 10px;
    font-size: 15px;
}