.movies-category-item {
    display: flex;
    flex: 0 1 45%;
    gap: 43px;
}

.movies-category-item img {
    filter: drop-shadow(0px 5px 25px rgba(119, 119, 119, 0.08));
    border-radius: 20px;
}

.movies-category-item-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 57px;
}

.movies-category-item-genre {
    font-size: 16px;
}

.movies-category-item-country {
    margin-top: 20px;
    font-size: 15px;
}