.home-page {
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-title {
    font-weight: 700;
    font-size: 60px;
    color: #E59C9C;
    margin-bottom: 30px;
}

.home-page-text {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 50px;
}

.home-page-container {
    max-width: 1230px;
    padding: 40px 90px;
    background: #fff;
    color: #333333;
    border-radius: 20px;
}